.container {
    display: flex;
    margin-top: 20px; 
    position: relative
}

.swiper-slide h3 {
    font-size: 1.3rem;
}

.description {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

  
 
  

